<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>toannb.listener.MyContextListener</listener-class>
    </listener>
    <listener>
        <description>RequestListener</description>
        <listener-class>toannb.listener.MyRequestListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DispathController</servlet-name>
        <servlet-class>toannb.controllers.DispathController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductByBrandController</servlet-name>
        <servlet-class>toannb.controllers.GetProductPagingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTop2BrandController</servlet-name>
        <servlet-class>toannb.controllers.GetTop2BrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllProductController</servlet-name>
        <servlet-class>toannb.controllers.GetAllProductPagingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllProductPagingController</servlet-name>
        <servlet-class>toannb.controllers.GetAllProductPagingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLaptopDetailController</servlet-name>
        <servlet-class>toannb.controllers.GetLaptopDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLaptopWithComapreController</servlet-name>
        <servlet-class>toannb.controllers.GetLaptopWithComapreController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispathController</servlet-name>
        <url-pattern>/DispathController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductByBrandController</servlet-name>
        <url-pattern>/GetProductByBrandController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTop2BrandController</servlet-name>
        <url-pattern>/GetTop2BrandController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllProductController</servlet-name>
        <url-pattern>/GetAllProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllProductPagingController</servlet-name>
        <url-pattern>/GetAllProductPagingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLaptopDetailController</servlet-name>
        <url-pattern>/GetLaptopDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLaptopWithComapreController</servlet-name>
        <url-pattern>/GetLaptopWithComapreController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
